DATABASE_URL=
PORT=
NODE_ENV=
FRONTEND_URL=

BCRYPT_SALT_ROUNDS=

ADMIN_NAME=
ADMIN_EMAIL=
ADMIN_PASSWORD=

REDIS_USER=
REDIS_PASSWORD=
REDIS_HOST=
REDIS_PORT=

SMTP_USER=
SMTP_PASSWORD=
EMAIL_SENDER=

JWT_ACCESS_SECRET=
JWT_ACCESS_EXPIRES_IN=

JWT_REFRESH_SECRET=
JWT_REFRESH_EXPIRES_IN=

GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_REDIRECT_URI=

AWS_REGION=
AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_S3_AVATAR_BUCKET=
AWS_S3_ASSESSMENT_BUCKET=
AWS_S3_URL_TTL_SECONDS=